In [1]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pypyodbc
import pandas as pd

In [2]:
SERVER_NAME = 'SKYNET'
DATABASE_NAME = 'test'
TABLE_NAME = 'nba_players'

In [3]:
connection_string = f"""
    DRIVER={{SQL Server}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trusted_Connection=yes;
"""

In [4]:
connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
engine = create_engine(connection_url, module=pypyodbc)

In [5]:
excel_file = pd.read_csv(r'C:\Users\Brian\Main Folder\EV Bets\data\stats_full_data\data_stats_2024-03-13.csv')
excel_file.head()

,Unnamed: 0,player_id,firstname,lastname,team,game_id,points,position,minutes,fgm,...,plusMinus,First Last Name,Points_Rebounds_Assist,Points_Rebounds,Points_Assist,Rebounds_Assist,id,date,home_team,away_team
0,0,2786,Santi,Aldama,Memphis Grizzlies,13488,11,PF,30,5,...,14,Santi Aldama,16,15,12,5,13488,2024-03-13 00:00:00,Memphis Grizzlies,Washington Wizards
1,1,4003,Trey,Jemison,Memphis Grizzlies,13488,24,C,31,11,...,7,Trey Jemison,30,30,24,6,13488,2024-03-13 00:00:00,Memphis Grizzlies,Washington Wizards
2,2,2177,John,Konchar,Memphis Grizzlies,13488,3,SG,33,1,...,-5,John Konchar,16,13,6,13,13488,2024-03-13 00:00:00,Memphis Grizzlies,Washington Wizards
3,3,814,Luke,Kennard,Memphis Grizzlies,13488,13,SG,26,5,...,7,Luke Kennard,25,17,21,12,13488,2024-03-13 00:00:00,Memphis Grizzlies,Washington Wizards
4,4,3341,Jordan,Goodwin,Memphis Grizzlies,13488,8,G,32,3,...,2,Jordan Goodwin,27,20,15,19,13488,2024-03-13 00:00:00,Memphis Grizzlies,Washington Wizards

In [7]:
#excel_file = excel_file.rename(columns={'Unnamed: 0': 'Column 0'})
excel_file = excel_file[['First Last Name']]
excel_file.head()

  First Last Name
0    Santi Aldama
1    Trey Jemison
2    John Konchar
3    Luke Kennard
4  Jordan Goodwin

In [8]:
for sheet_name, df_data in excel_file.items():
    print(f'Loading worksheet {sheet_name}...')
    # {'fail', 'replace', 'append'}
    df_data.to_sql(TABLE_NAME, engine, if_exists='append', index=False)

Loading worksheet First Last Name...